<!DOCTYPE html>
<html lang="en" data-theme="aic">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='css/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/custom.css') }}">
    <title>Password Change - AIC Sanctuary Hub</title>
</head>

<body class="auth">
    <div class="password-container">
        <h2>Change Password</h2>
        <form id="passwordForm" action="/api/v1/auth/change" method="post">
            <label for="oldpassword">Old Password:</label>
            <input type="password" name="oldPassword" placeholder="Old Password" required>
            <label for="newpassword">New Password:</label>
            <input type="password" name="newPassword" placeholder="New Password" required>
            <label for="confirmpassword">Confirm Password:</label>
            <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
            <button type="submit">Change Password</button>
        </form>
    </div>
    <!-- Toast container -->
    <div id="toastContainer" class="fixed top-4 inset-x-4 sm:inset-x-auto sm:left-1/2 sm:-translate-x-1/2 
            flex flex-col items-center space-y-2 z-50 w-auto max-w-sm">
    </div>
    <script src="/static/js/script.js"></script>

</body>
<script>
    const form = document.getElementById("passwordForm");

    form.addEventListener("submit", async function (e) {
        e.preventDefault(); // prevent normal form submission
        const newPassword = form.querySelector("[name='newPassword']").value;
        const confirmPassword = form.querySelector("[name='confirmPassword']").value;

        if (newPassword !== confirmPassword) {
            return showToast("Password do not match.", "error")
        }
        const formData = new FormData(form);
        const payload = {
            oldPassword: formData.get("oldPassword"),
            newPassword: formData.get("newPassword"),
            confirmPassword: formData.get("confirmPassword")
        };

        try {
            const response = await fetch("/api/v1/auth/password/change", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(payload)
            });

            if (response.redirected) {
                // If FastAPI returned a RedirectResponse
                window.location.href = response.url;
            } else if (response.ok) {
                // If you return JSON with success info
                window.location.href = "/login";
            } else {
                const err = await response.json();
                showToast(err.detail || "Login failed", "error");

            }
        } catch (err) {
            showToast("Network error. Please try again.", "error");

        }
    });

</script>

</html>